
.footer-container {
    min-height: 90px;
    background-color: #FABE00;
}

.col-footer {
    height: 90px;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    filter: invert(100%);
}

.footer-text {
    box-sizing: border-box;
    color: #00377D;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
}