
.footer-container {
    min-height: 90px;
    background-color: #00377b;
}

.col-footer {
    height: 90px;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin-left: -10px;
}

.footer-text {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
}