
.two-columns-container {
    min-height: 400px;
    background-color: #FFF;
}


.two-columns {
    min-height: 300px;
}

.divider {
    border-right: #e5eaf2 1px solid;
}

.two-col-btn {
    margin-top: 1em;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 700;
    color: #00c8ff;
    text-transform: uppercase;
    text-decoration: none;
}
