
.masthead {
    height: 70px;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.masthead-image {
    width: auto;
    height: 60px;
    
}

.items-container {
    padding-left: 2em;
    
}

.media-query-flag {
    display: block;
}

.menu-item {
    font-family: Roboto,sans-serif;
    width: auto;
    margin-left: 10px;
    height: 40px;
    color: #fff;
    /* border-bottom: 1px solid #00c8ff; */
}

.menu-item-active {
    font-family: Roboto,sans-serif;
    width: auto;
    margin-left: 10px;
    height: 45px;
    border-bottom: 4px solid #00c8ff;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
}

.menu-item-active a {
    text-decoration: none;
    color: #fff;
    color: #00c8ff;
}

.hamburger-btn {
    display: none;
}

.list-item-cont a {
    text-decoration: none;
    color: #666;
}
.mobile-item {
    color: #666;
}

.mobile-item-active {
    color: #00377D;
}

@media only screen and (max-width: 768px) {
    .media-query-flag {
        display: none;
    }

    .hamburger-btn {
        display: block;
        margin-left: 1em;
    }

    .masthead-image {
        margin-left: 1em;
    }
}