

.carousel-container {
    height: auto;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    /* background-size: 100% auto; */
    background-color: #fafafa;
}


.main-carousel {
    min-height: 420px;
    /* background-color: #00377b; */
    background-size: 100% auto;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: top center;
    /* position: relative; */
    
}

.img-carousel {
    width: 100%;
    height: auto;
}



/* .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-bbreus-MuiButtonBase-root-MuiIconButton-root{
    z-index: 9;

    margin-top: -3.5em;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-8ucetn-MuiButtonBase-root-MuiIconButton-root {
    z-index: 9;
    color: #fafafa;
     margin-top: -3.5em; 
}



.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1g04gm2-MuiButtonBase-root-MuiIconButton-root {
    background-color: transparent;

} */

@media only screen and (max-width: 768px) {
    .main-carousel {
        min-height: auto;
    }
}
